<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="US_PROD" connectionString="Data Source=212.150.209.171;Initial Catalog=Dotnet_US;Persist Security Info=True;User ID=sa;Password=Poly10$" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
        <!--Export-->
        <add key="Export_Path" value="D:\yuvals\files"/>
        <!--Mail-->
        <add key="Mail_Enabled" value="false"/>
        <add key="Mail_From_Address" value="Rani.Rosenzweig@polymerlogistics.com"/>
        <add key="Mail_From_Display_Name" value="Rani Rosenzweig"/>
        <add key="Mail_Smtp_Server" value="192.168.78.232"/>
        <add key="Mail_To_Address" value="yuvals@segment.co.il"/>
        <add key="Mail_Tony_Mosco" value=""/>
        <add key="Mail_Dana_Embry" value=""/>
        <add key="Mail_Brandon_Osteen" value=""/>
        <add key="Mail_Travis_White" value=""/>
        <add key="Mail_Frank_Niolet" value=""/>
        <add key="Mail_Sarah_Gonzalez" value=""/>
        <add key="Mail_Gabriel_Grijalva" value=""/>
        <add key="Mail_Paul_Pederson" value=""/>
        <add key="Mail_Connie_Ceniceros" value=""/>
        <add key="Mail_Lisa_Dennis" value=""/>
        <add key="Mail_Eric_Biddiscombe" value=""/>
        <add key="Mail_Light_Report" value=""/>
    </appSettings>
</configuration>